div {
	height: 300px;
	width: 600px;
	margin-bottom: 200px;
	position: absolute;
	background-image: url("car.png"):
}

.blue {
background-image: url("car.png"):
}	
body {
	background-color:#778899;
	font-family: Ariel;
}

h1 {
	color: solid white;
	text-decoration: underline;
	text-shadow: 3px 2px #ADD8E6;
}

h3 {
	color: solid black;
}

.light { 

  height: 130px; 
  width : 130px; 
  border-radius: 50%; 
  opacity : 0.5; 
  margin: 0 auto; 
  display: inline-block;
}
 
.stop {background-color: #ff8080;} 
.slow {background-color: #778899;} 
.go {background-color: #99ffcc;} 
.on {opacity: 1;} 
